global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # Monitor Prometheus itself
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  # Monitor the EC2 Host (CPU, RAM, Disk)
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  # Monitor all Docker Containers running on this EC2
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']